h1 {font-size: 138%; background-color: #13dfed45; text-align: center}
h2 {margin-top: 1%; font-size: 135%;}
h3 {font-size: 120%;}
h4 {font-size: 120%;}
h1, h2, h3, h4 {padding-top:1%; padding-right: 1%; padding-left: 3%;padding-right: 3%}

body {font-family: 'Times New Roman', Georgia, Times, sans-serif; word-wrap: break-word; }
a {margin-bottom: 1%;margin-left:1%}
input,  textarea {width:180%;}
.create{margin-top: 10%; border: 3px solid #13dfed45; border-radius: 15px; padding-left: 3%; padding-right:3%;
        padding-top: 3%; padding-bottom: 3%; width:70%;}
.login {margin-left: 94%; margin-bottom: 0%; padding: 3px}
.registor tr td input, textarea {width:180%;}
.registor+button {margin-left: 14%; margin-top: 1%}
.registor tr th {color:gray;}
.navbar-brand{margin-right: 67%}
nav {height: 3.5em; margin-top: 0.5em; margin-bottom: 0.5em}
#A {margin-left: 77%;}
.col-4{font-size: 130%; color: #422e07dd}
.col-8{padding-right: 0%}
