{% extends 'canban_board/base.html' %}
{% block content %}

<div class="container">


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <pre style="font-size: 110%; margin-top: 2px; margin-bottom: 1px">Hi, friends. To use, please, register or login.</pre>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row m-1" style="background-color: #e8e46151; border-radius: 5px;">
<div class="col-10 pt-3" style="font-size: 120%; color: #422e07dd"><pre>Hi, friends. To use, please, register or login.</pre></div>
<div class="col-2  pt-2" ><a href=""class="btn btn-outline-info ">REGISTER</a>
<a href=""class="btn btn-outline-info">LOGIN</a></div>
</div>

<div class="row">
<div class="col-4">
<h1> TO DO </h1>
<a href="" class="btn btn-outline-info btn-sm">ADD CARD</a>

{% for each in todo %}
<div style="border: 3px solid #868e8f20; border-radius: 12px; ">
<h2>{{ each.name}}</h2>
<h3>{{ each.description}}</h3>
<h3>start date: {{ each.start_date|date:"d M y"}}г.</h3>
<h3>end date : {{ each.end_date|date:"d M y"}}г.</h3>
<a href="" class="btn btn-outline-info btn-sm">CHANGE CARD</a>
<a href="" class="btn btn-outline-info btn-sm">DELETE CARD</a>
</div>
{% endfor %}
</div>

<div class="col-4">
<h1> DOING </h1>
<a href="" class="btn btn-outline-info btn-sm">ADD CARD</a>
{% for each in doing %}
<div style="border: 3px solid #868e8f20; border-radius: 12px;">
<h2>{{ each.name}}</h2>
<h3>{{ each.description}}</h3>
<h3>start date: {{ each.start_date|date:"d M y"}}г.</h3>
<h3>end date : {{ each.end_date|date:"d M y"}}г.</h3>
<a href="" class="btn btn-outline-info btn-sm">CHANGE CARD</a>
<a href="" class="btn btn-outline-info btn-sm">DELETE CARD</a>
</div>
{% endfor %}
</div>

<div class="col-4">
<h1> DONE </h1>
<a href="" class="btn btn-outline-info btn-sm">ADD CARD</a>
{% for each in done %}
<div style="border: 3px solid #868e8f20; border-radius: 12px;">
<h2>{{ each.name}}</h2>
<h3>{{ each.description}}</h3>
<h3>start date: {{ each.start_date|date:"d M y"}}г.</h3>
<h3>end date : {{ each.end_date|date:"d M y"}}г.</h3>
<a href="" class="btn btn-outline-info btn-sm">CHANGE CARD</a>
<a href="" class="btn btn-outline-info btn-sm">DELETE CARD</a>
</div>
{% endfor %}
</div>

{% endblock %}
