<button class=new_button name="plus" value="{{ logout }}" type="submit" >logout</button>

<div>
{% for each in plan %}
<h2>{{ each.name}}</h2>
<h2>{{ each.description}}</h2>
<h2>{{ each.start_date}}</h2>
<h2>{{ each.end_date}}</h2>
{% endfor %}
</div>

<div>
{% for each in doing %}
<h2>{{ each.name}}</h2>
<h2>{{ each.description}}</h2>
<h2>{{ each.start_date}}</h2>
<h2>{{ each.end_date}}</h2>
{% endfor %}
</div>

<div>
{% for each in done %}
<h2>{{ each.name}}</h2>
<h2>{{ each.description}}</h2>
<h2>{{ each.start_date}}</h2>
<h2>{{ each.end_date}}</h2>
{% endfor %}
</div>
