{% extends 'canban_board/base.html' %}
{% block content %}

<div class="container ml-0">
  <div class="row m-1" style=" height: 2.5em">
  <div class="col-4 pt-2"><pre>Use logout to exit</pre></div>
  <div class="col-8 pt-1"><a href="{% url 'canban_board:logout_view' %}" id="A" class="btn btn-outline-info btn-sm">LOGOUT</a>
  <a href="{% url 'canban_board:contact' %}" class="btn btn-outline-info btn-sm">CONTACT US</a></div>
  </div>
<div class="row">
<div class="col-md-4">
<h1> TO DO </h1>
<a href="{% url 'canban_board:create_card' %}" class="btn btn-outline-info btn-sm">ADD CARD</a>
{% for each in todo %}
<div style="border: 3px solid #868e8f20; border-radius: 12px; ">
<h2>{{ each.name|linebreaks|truncatechars:1000 }}</h2>
<h3>{{ each.description|linebreaks|truncatechars:1000 }}</h3>
<h4>start date: {{ each.start_date|date:"d M y"}}г.</h4>
<h4>end date : {{ each.end_date|date:"d M y"}}г.</h4>
<a href="{% url 'canban_board:change_card' each.id %}" class="btn btn-outline-info btn-sm">CHANGE CARD</a>
<a href="{% url 'canban_board:delete_card' each.id %}" class="btn btn-outline-info btn-sm">DELETE CARD</a>
</div>
{% endfor %}
</div>

<div class="col-md-4">
<h1> DOING </h1>
<a href="{% url 'canban_board:create_card' %}" class="btn btn-outline-info btn-sm">ADD CARD</a>
{% for each in doing %}
<div style="border: 3px solid #868e8f20; border-radius: 12px;">
<h2>{{ each.name|linebreaks|truncatechars:1000 }}</h2>
<h3>{{ each.description|linebreaks|truncatechars:1000 }}</h3>
<h4>start date: {{ each.start_date|date:"d M y"}}г.</h4>
<h4>end date : {{ each.end_date|date:"d M y"}}г.</h4>
<a href="{% url 'canban_board:change_card' each.id %}" class="btn btn-outline-info btn-sm">CHANGE CARD</a>
<a href="{% url 'canban_board:delete_card' each.id %}" class="btn btn-outline-info btn-sm">DELETE CARD</a>
</div>
{% endfor %}
</div>

<div class="col-md-4">
<h1> DONE </h1>
<a href="{% url 'canban_board:create_card' %}" class="btn btn-outline-info btn-sm">ADD CARD</a>
{% for each in done %}
<div style="border: 3px solid #868e8f20; border-radius: 12px;">
<h2>{{ each.name|linebreaks }}</h2>
<h3>{{ each.description|linebreaks }}</h3>
<h4>start date: {{ each.start_date|date:"d M y"}}г.</h4>
<h4>end date : {{ each.end_date|date:"d M y"}}г.</h4>
<a href="{% url 'canban_board:change_card' each.id %}" class="btn btn-outline-info btn-sm">CHANGE CARD</a>
<a href="{% url 'canban_board:delete_card' each.id %}" class="btn btn-outline-info btn-sm">DELETE CARD</a>
</div>
{% endfor %}
</div>
{% endblock %}
